.login {
  width: 540px;
  height: 640px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 120px;
}

.welcome {
  font-size: 55px;
  margin: 10px;
  margin-top: 20px;
  color: #112255;
}

.loginLine {
  width: 450px;
  height: 6px;
  border-radius: 3px;
  background-color: #112255;
}

.loginInfo {
  color: #112255;
}

p {
  font-weight: 500;
}

.inputBox {
  width: 400px;
  margin-bottom: 25px;
}

.inputText {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #112255;
}

input {
  width: 392px;
  font-size: 18px;
  font-family: 'Fredoka';
  background-color: #3366ff;
  border-radius: 6px;
  padding: 5px 7px;
  color: white;
}

::placeholder {
  color: #babaff;
}

.error {
  margin-top: 2px;
  position: absolute;
  color: red;
}

.createAccount {
  margin-top: 20px;
  width: 210px;
  height: 48px;
  background-color: #112255;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border: 0;
  border-radius: 15px;
  transition: .15s;
}

.createAccount:hover {
  background-color: #3366ff;
  transition: .15s;
}